$border-settings: 2px solid black
$c1: skyblue
$c2: #D56EFF
$c3: chartreuse
$c4: yellow
$c5: blue
$c6: purple
$cx: orange
$gap: 5px
//"#fba0e3"
*
    box-sizing: border-box

body
    font-family: 'Roboto Slab', serif
    

.hidden
    display: none !important

.center
    display: flex !important
    justify-content: center !important
    align-content: center !important
    border: 4px solid $cx !important

button.error
    background-color: white !important
    color: black !important
    text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white
button.error ion-icon
    color: black !important
rect.error
    fill: white !important
    stroke: black !important
text.error
    
    tspan:nth-of-type(even)
        stroke: black
        stroke-width: 4px
        paint-order: stroke
    tspan
        stroke: black !important
        stroke-width: 4px
        paint-order: stroke

    .X, .C1, .C2, .C3, .C4, .C5, .C6
        stroke: black
        stroke-width: 4px
        paint-order: stroke
line.error
    stroke: white !important
    stroke-width: 4px

rect.homebag
    fill: #50C878 !important
    // stroke: red !important
text.homebag
    tspan
        // fill: black
        stroke: black
        stroke-width: 4px
        paint-order: stroke

.to_the_depths
    visibility: hidden !important
    opacity: 0.5
    transform: translateY(-10%)
.blur
    filter: blur(4px) !important

.w1-3
    width: 33.333333333% !important
.w2-3
    width: 66.666666666% !important
.w1-2
    width: 50% !important

rect.xclude
    ry: 0
    rx: 0
    fill: #252525
    stroke-dasharray: 2,2
    stroke-width: 2
    stroke: rgb(117, 117, 117)
line.xclude
    stroke-width: 2
    stroke-dasharray: 2,2
    stroke: rgb(117, 117, 117)

#root
    background-color: #151515
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

.container
    width: 100%
    max-width: 1920px
    height: 100%
    max-height: 1080px
    display: flex
    // flex-direction: column USED WITH TOP HEADER
    // overflow: hidden
    // border: 4px solid #373737
.header
    background-color: #343434
    width: 100%
    display: block
    padding: 5px
    border-bottom: $border-settings
    // display: none
    a
        display: inline-block
        text-decoration: none
        color: white
        margin: 5px 10px 8px
        font-size: 14px
        font-weight: 300
        display: block
        &.active
            color: $c1
.location
    background: transparent
    width: 60px
    // background-color: yellow
    display: flex
    padding: $gap
    gap: $gap
    flex-direction: column
    a
        border: $border-settings
        display: flex
        justify-content: center
        align-items: center
        height: 42px
        border-radius: 7px
        background: #252525
        color: white
        text-decoration: none
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
        font-wight: 600

        ion-icon
            font-size: 20px

        &.active
            // background-color: $cx
            border-color: $cx
            color: $cx

.location-full
    
    // pointer-events: none
    position: absolute
    background: #151515
    width: 200px
    display: flex
    padding: $gap
    gap: $gap
    // padding: $gap 20px 20px $gap
    flex-direction: column
    z-index: 5
    // background-color: #151515
    // border-right: 2px solid black
    border-bottom-right-radius: 5px
    // border-top-right-radius: 5px
    transform: translateX(-140px)
    opacity: 0
    transition-property: transform, opacity
    transition-duration: 0.2s, 0.2s
    transition-timing-function: ease-in-out, ease-in-out
    transition-delay: 0s, 0.2s
    a
        width: 100%
        // position: absolute
        border: $border-settings
        display: flex
        justify-content: center
        align-items: center
        height: 42px
        border-radius: 7px
        background: #252525
        color: white
        text-decoration: none
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
        font-wight: 600
        position: relative
        
        // left: -200px

        ion-icon
            font-size: 20px

        &.active
            // background-color: $cx
            border-color: $cx
            color: $cx


.location-full.active
    transform: translateX(0px)
    opacity: 1
    transition-property: transform, opacity
    transition-duration: 0.2s, 0s
    transition-timing-function: ease-in-out, ease-in-out
    transition-delay: 0s, 0s

.location, .location-full
    a
        cursor: pointer

.main
    
    transition-property: transform
    transition-duration: 0.2s
    transition-timing-function: ease-in-out
    transition-delay: 0s
.main.active
    transform: translateX(140px)

.animated-page
    position: absolute
.main
    position: relative

.main, .animated-page
    width: 100%
    flex: 1
    // background-color: #303030
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    overflow: hidden

    .sidebar
        font-size: 13px
        position: relative
        
        width: 27%
        height: 100%
        // padding: 20px 0px 20px 10px
        // border-right: $border-settings
        overflow-x: hide
        // overflow-y: scroll
        padding: $gap
        padding-right: 0
        padding-left: 0
        .sidebar_bubble
            height: 100%
            width: 100%
            padding: 6px
            background-color: rgba(240,255,255,.9)
            background-color: white
            border: $border-settings
            border-radius: 7px
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
            overflow-y: auto

            > *:first-child
                margin-top: 0
    .content
        // padding: 20px
        width: 80%
        height: 100%
        background-color: #151515
        // background-color: black
        display: flex
        justify-content: center
        align-items: center
        position: relative
        padding: $gap
        gap: $gap

        .cy
            border: $border-settings
            border-radius: 7px
            // background-image: linear-gradient(200deg,#252525 0%,rgba(25, 25, 25, 0.95) 10%,rgba(25, 25, 25, 0.9) 20%,rgba(25, 25, 25, 0.85) 30%,rgba(25, 25, 25, 0.8) 40%,rgba(25, 25, 25, 0.75) 50%,rgba(25, 25, 25, 0.7) 60%,rgba(25, 25, 25, 0.65) 70%,rgba(25, 25, 25, 0.6) 80%,rgba(25, 25, 25, 0.55) 90%,#252525 100%)
            background-color: #252525
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)

        .horizontal-split
            height: 100%
            width: 100%
            display: flex
            gap: $gap
            flex-direction: column
            position: relative

        .vertical-split
            height: 100%
            width: 100%
            display: flex
            gap: $gap
            position: relative
        
        .cc
            width: 100%
            height: 100%
            background-color: #252525
            display: flex
            justify-content: center
            align-items: center
            position: relative
            gap: $gap
            border: $border-settings
            border-width: 2px
            border-radius: 7px
            border-color: $cx
            gap: 0
            background-color: #252525
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
            .cy
                background-color: transparent
                box-shadow: none
                border: none
            >*:last-child
                border: none !important

            // > *
            //     border-bottom: $border-settings
            // > *:last-child
            //     border-bottom: none
        
        .svg_popup
            position: absolute
            border: $border-settings
            border-radius: 7px
            width: 80%
            left: 10%
            height: 80%
            top: 10%
            background-color: #252525
            z-index: 2
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
            // transition: filter 0.2s ease-in-out
            transition: 0.2s ease-in-out

.small-svg
    border: $border-settings
    border-radius: 7px
    left: 10%
    top: 10%
    background-color: #252525

.svg_container
    width: 100%
    height: 100%
    position: relative
    transition: filter 0.2s ease-in-out
    .cy 
        width: 100%
        height: 100%
    .svg_label
        position: absolute
        top: 7px
        left: 7px
        color: white
        background-color: #101010
        border-radius: 5px
        padding: 5px 10px
        font-size: 14px
        border: $border-settings
        font-weight: 300

    .svg_counter
        position: absolute
        top: 45px
        left: 7px
        color: white
        background-color: #101010
        border-radius: 5px
        padding: 5px 10px
        font-size: 16px
        border: 2px solid black
        &.valid
            border-color: chartreuse
        &.invalid
            border-color: black

    &.interactive
        circle, rect
            cursor: pointer
        .cy
            border-color: $cx
            border-width: 2px
    &.grab
        circle, rect
            cursor: grab
    &.plus
        cursor: crosshair
    &.active
        // border-right: 3px solid green !important
        // border-left: 3px solid green !important
        // border-bottom: 1px solid green !important
        background-color: #151815
        position: relative
        background-color: transparent
        overflow: hidden

        .cy
            position: relative
            z-index: 0
    &.full svg
        position: absolute
        pointer-events: none
        height: 100%
        width: 300%
        // background-color: rgba(255,0,0,0.1)
        // border: 2px solid red
        z-index: 1
        circle
            pointer-events: auto

    &.full.top svg
        top: 0
        left: 0
    &.full.mid svg
        top: 0
        left: -100%
    &.full.bot svg
        top: 0
        left: -200%
    &.full
        border-right: 2px dotted #050505
            
.splitline
    margin: 5px
    padding: 10px
    display: flex
    font-size: 24px
    border-bottom: 1px solid black
    flex-direction: column
    justify-content: space-between
    &:hover
        cursor: pointer


.node-labels
    pointer-events: none
    font-size: 16px
    // font-style: italic
    // font-family: 'Times New Roman', Times, serif
    font-weight: 400

circle, tspan, text
    &.C1
        fill: $c1
    &.C2
        fill: $c2
    &.C3
        fill: $c3
    &.C4
        fill: $c4
    &.C5
        fill: $c5
    &.C6
        fill: $c6
    &.X
        fill: $cx

path
    &.C1
        fill: $c1
        opacity: 0.25
    &.C2
        fill: $c2
        opacity: 0.25
    &.C3
        fill: $c3
        opacity: 0.25
    &.C4
        fill: $c4
        opacity: 0.25
    &.C5
        fill: $c5
        opacity: 0.25
    &.C6
        fill: $c6
        opacity: 0.25
    &.X
        fill: $cx
        opacity: 0.25

    &.stroke-C1
        stroke: $c1
        fill: rgba(25,25,25,0.75)
    &.stroke-C2
        stroke: $c2
        fill: rgba(25,25,25,0.75)
    &.stroke-C3
        stroke: $c3
        fill: rgba(25,25,25,0.75)
    &.stroke-C4
        stroke: $c4
        fill: rgba(25,25,25,0.75)
    &.stroke-C5
        stroke: $c5
        fill: rgba(25,25,25,0.75)
    &.stroke-C6
        stroke: $c6
        fill: rgba(25,25,25,0.75)
    &.stroke-X
        stroke: $cx
        fill: rgba(25,25,25,0.75)
    &.stroke-black
        stroke: black
        fill: rgba(25,25,25,0.75)
    &.stroke-white
        stroke: #101010
        fill: rgba(25,25,25,0.75)

    &.outline-C1
        stroke: $c1
        stroke-width: 2
        fill: transparent
    &.outline-C2
        stroke: $c2
        stroke-width: 2
        fill: transparent
    &.outline-C3
        stroke: $c3
        stroke-width: 2
        fill: transparent
    &.outline-C4
        stroke: $c4
        stroke-width: 2
        fill: transparent
    &.outline-C5
        stroke: $c5
        stroke-width: 4
        fill: transparent
    &.outline-C6
        stroke: $c6
        stroke-width: 4
        fill: transparent
    &.outline-X
        stroke: $cx
        stroke-width: 4
        fill: transparent
    &.outline-black
        stroke: black
        stroke-width: 5
        fill: #101010
    &.outline-white
        stroke: #101010
        stroke-width: 4
        fill: transparent
    &.cut
        stroke: $cx
        stroke-width: 3
        fill: transparent
    &.dotted
        stroke-dasharray: 2, 2

line
    &.C1
        stroke: $c1
    &.C2
        stroke: $c2
    &.C3
        stroke: $c3
    &.C4
        stroke: $c4
    &.C5
        stroke: $c5
    &.C6
        stroke: $c6
    &.X
        stroke: $cx

span.color-reverse
    color: white
    background-color: #101010
    padding: 3px
    border-radius: 8px
    display: inline-block

span.ref
    display: inline-block
    font-style: normal

    color: white
    background-color: #101010
    border-radius: 5px
    padding: 0px 4px
    // font-size: 14px
    border: $border-settings
    font-weight: 300
    cursor: pointer
    
span
    &.C1
        color: $c1
    &.C2
        color: $c2
    &.C3
        color: $c3
    &.C4
        color: $c4
    &.C5
        color: $c5
    &.C6
        color: $c6
    &.X
        color: $cx

.graph
    .X
        fill: $cx
        // color: white
circle.X
    fill: #252525 !important
    stroke: #303030
    // stroke: #202020 !important
circle
    stroke-width: 2px
circle.node_in_w
    stroke-width: 2px
    filter: drop-shadow(0px 0px 2px rgba(0,0,0, 1))
    stroke: red
.opacity
    opacity: 15%
.opa-0
    opacity: 0
// .highlight
//     // fill: Chartreuse !important
//     fill: #202020 !important
//     stroke: black !important
//     // stroke-width: 5px !important

.node_w
    font-size: 12px
.items
    color: white
    border-radius: 5px
    margin-bottom: 2px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #101010
    border: 2px solid black
    padding: 5px 10px

    .C1
        color: $c1
    .C2
        color: $c2
    .C3
        color: $c3
    .C4
        color: $c4
    .C5
        color: $c5
    .C6
        color: $c6
    .X
        color: $cx
    .mpunct
        color: white
    &.flex
        justify-content: space-between
    >*
        display: flex
        

.task
    color: white
    background-color: #101010
    border-radius: 5px
    padding: 8px 10px 8px
    margin-bottom: 5px
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    padding-left: 40px
    min-height: 34px
    position: relative

    ion-icon
        position: relative
        font-size: 1.7em
        &[name="star"] 
            color: #FFDF00
        &[name="checkmark-circle"], &[name="checkmark-circle-outline"]
            color: Chartreuse
        &[name="alert-circle"], &[name="alert-circle-outline"]
            color: white
        
        position: absolute
        left: 10px
        top: 50%
        transform: translateY(-50%)
    &.locked
        padding-left: 0
        justify-content: center
        ion-icon
            font-size: 1.4em
            left: auto
            transform: translate(-50%, -50%)

h1,h2,h3,h4,h5,h6
    margin-bottom: 10px

p
    margin-top: 0


.nav2
    width: 100%
    display: flex
    position: absolute
    bottom: 20px
    .box
        width: 25px
        height: 25px
        margin-right: 5px
        border: 2px solid black
        background-color: #303030
        border-radius: 500px

        &.active
            background: lightgreen
            border: 3px solid black

/* CSS */

.button-container
    display: flex
    padding: 10px
    background-color: #101010
    border-radius: 3px
    justify-content: space-between
button, .button
    align-items: center
    // background-color: #3FFF00
    background-color: #202020
    border: 3px solid chartreuse
    border-radius: .25rem
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0
    box-sizing: border-box
    color: black
    cursor: pointer
    display: inline-flex
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-family: 'Roboto Slab', serif
    color: black
    color: white
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000
    font-size: 16px
    font-weight: 600
    justify-content: center
    line-height: 1.25
    margin: 10px
    margin-left: 0
    min-height: 1rem
    padding: 5px 10px
    position: relative
    text-decoration: none
    transition: all 250ms
    user-select: none
    -webkit-user-select: none
    touch-action: manipulation
    vertical-align: baseline
    width: auto
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px

    &:hover, &:focus
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px
    &:hover
        transform: translateY(-1px)
    &:active
        border-color: rgba(0, 0, 0, 0.15)
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px
        transform: translateY(0)
    &.disable
        border-color: rgba(255,255,255, 0.4)
        color: rgba(255,255,255, 0.8)
        ion-icon
            color: rgba(255,255,255, 0.8)

    ion-icon
        margin-left: 2px
        margin-top: 2px
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000
        color: white
        border-radius: 50%
    &.combine-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
.button-box-5
    display: flex
    .button, button
        width: 100%
        ion-icon
            font-size: 18px
            margin-left: 5px
// .group-shapes
//     pointer-events: none

.build-a-bag
    // padding: 10px
    // background-color: #202020
    // color: white

    input
        background-color: #101010
        color: white
        font-family: 'Roboto Slab', serif
        font-size: 18px
        text-align: center
        border: none
        border-bottom: 2px dotted orange
        min-width: 70px
        width: 50px
        max-width: 200px
        resize: vertical
        &:focus
            outline: none

.content.frontpage
    width: 100%
    padding-left: 0
.wall
    display: flex
    justify-content: center
    align-items: center
    color: white
.intro-img
    width: 100%
    height: 100%
    // background-color: orange
    border: $border-settings
    border-width: 2px
    border-radius: 7px
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
    background-image: url("/images/treebags2.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    display: flex
    justify-content: center
    align-items: center
    color: white
    flex-direction: column

    .intro-content
        display: flex
        justify-content: center
        align-items: center
        color: white
        flex-direction: column
        background-color: rgba(0,0,0,0.9)
        border: $border-settings
        border-radius: 6px
        padding: 40px
        text-align: center
        h1
            margin: 0
.colorbox
    display: flex
    background-color: black
    padding: 8px 1px 8px 8px
    .color
        padding: 10px 20px
        // font-weight: bold
        width: 300px
        height: 300px
        font-size: 50px
        display: flex
        flex-direction: column
        justify-content: space-between
        // border-right: 7px solid black
        &.C1
            background: $c1
        &.C2
            background: $c2
        &.C3
            background: $c3
        &.C4
            background: $c4
        &.C5
            background: $c5
        &.C6
            background: $c6
        &.X
            background: $cx


// scrollbar
.scrollbar-track-y
    border-radius: 4px

.scrollcontainer>:first-child
    margin-top: 10px !important

// materializ overwrite
// .collapsible.popout
//     margin-left: -20px

//     li
//         margin: 0 20px

.collapsible
    // margin-left: -10px
    // margin-right: -10px

    .collapsible-body
        padding: 30px 20px
        // background-color: #101010
        // color: white

    .collapsible-header
        background-color: #101010
        color: white
        border-color: grey
        h1,h2,h3,h4,h5,h6
            margin-bottom: 0
            margin-top: 0
        &:focus
            background-color: #101010

h1, .h1
  font-size: 2rem
h2, .h2
  font-size: 1.75rem
h3, .h3
  font-size: 1.5rem
h4, .h4
  font-size: 1.25rem
h5, .h5
  font-size: 1rem
h6, .h6
  font-size: 0.75rem

#toast-container
    transform: translate(-50%, -50%)
    position: absolute
    left: 0
    top: 0
    right: auto

.exercise
    margin-top: 10px
    margin-bottom: 10px
    padding: 5px 10px
    border-left: 5px solid grey
    &>:first-child
        margin-top: 0

.indicator
    background-color: $cx !important
    height: 3px !important

.tab, .tabs
    height: 30px !important
    line-height: 30px !important
    text-transform: none !important
    a
        color: black !important
.tab-content
    &>:first-child
        margin-top: 0
    
.tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a.active
    background-color: lighten(orange, 40%) !important

button:active
    background-color: orange !important


@keyframes continue
    0%
        border-width: 4px
        transform: scale(1)
    80%
        border-width: 1px
        transform: scale(1.2,1.8)
    100%
        opacity: 0

.focus
    &:before
        z-index: 9999999999
        border: 1px solid
        border-color: inherit
        border-radius: inherit
        content: ''
        display: inline-block
        position: absolute
        top: -1px
        left: -1px
        bottom: -1px
        right: -1px
        
        -webkit-animation: continue 2s cubic-bezier(0.2, 1, 0.3, 1) both infinite
        animation: continue 2s cubic-bezier(0.2, 1, 0.3, 1) both infinite

@keyframes circleSVG
    // 0%
    //     stroke-width: inherit
    // 20%
    //     // stroke-width: 3
    //     r: 24
    //     // stroke-dasharray: 4,2
    //     // fill: orange

    // 100%
    //     stroke-width: inherit

    0%
        opacity: 0

    20%
        opacity: 1

    
    80%
        opacity: 0
        r: 28
    100%
        opacity: 0

    

@keyframes rectSVG
    0%
        stroke-opacity: 1
    20%
        // stroke-opacity: 0
        stroke: rgb(150,150,150)
        // stroke-opacity: 0
        // fill: #202020
    100%
        stroke-opacity: 1

.nodes-bg
    pointer-events: none
    circle
        fill: transparent
        stroke: #151515
        stroke: #606060
        stroke-width: 2px

.focus-svg
    .nodes-bg
        circle:not(.hidden)
            cursor: auto
            animation: circleSVG 2s cubic-bezier(0.2, 1, 0.3, 1) both infinite
    rect:not(.xclude)
        animation: rectSVG 3s cubic-bezier(0.2, 1, 0.5, 1) both infinite


.mytabs
    display: flex
    gap: 7px
    height: auto
    position: relative

    div.tab
        cursor: pointer
        background-color: #303030
        color: white
        border: $border-settings
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        border-radius: 5px
        &.active
            color: $cx

    #tab-selector
        position: absolute
        margin-left: 4px
        width: 22px
        height: 2px
        background-color: orange
        bottom: 0
        transition: all 0.2s ease-in-out
        left: 0px
        border-radius: 5px
        bottom: 2px

    &.auto
        div.tab
            width: auto
            padding: 0px 8px


@keyframes ripple-animation
    0%
        transform: scale(1)
        opacity: 1
    100%
        transform: scale(30)
        opacity: 0
.ripple
    width: 10px
    height: 10px
    position: absolute
    border-radius: 50%
    background-color: rgba(255, 165, 0, 0.1)
    mix-blend-mode: overlay
    animation: ripple-animation 1s ease-out infinite
    pointer-events: none
    border: 1px solid rgba(255, 255, 255, 0.1)